.pricing {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    flex-direction: column;
    align-content: space-evenly;
    align-items: flex-end;
    justify-content: center;
    justify-items: baseline;
    margin-bottom: 1rem;


    &-blue {
        background-image: url("../../images/multi-dimension-card-blue.png");
        background-size: cover;
    }

    &-orange {
        background: url("../../images/multi-dimension-card-orange.png");
        background-size: cover;
    }
}
