// Typography
$font-family-sans-serif: // Safari for OS X and iOS (San Francisco)
    "Poppins", -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto", "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Body
$body-bg: #f8fafc;

$theme-colors: (
    "primary": #32094e,
    "secondary": #9804b6,
    "success": #8ec969,
    "warning": #FF7D32,
    "danger": #ff4136,
    "light": #F8F9FA
);

$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$enable-shadows: true;
$link-decoration: none;


